<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBzRsRnjVVhsE5Mi5EM9-_ktsqFoalceJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>925555338973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>egorpetkevich.NoteMe</string>
	<key>PROJECT_ID</key>
	<string>noteme-66721</string>
	<key>STORAGE_BUCKET</key>
	<string>noteme-66721.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925555338973:ios:6c1e5a00ab682ddfdaf534</string>
	<key>DATABASE_URL</key>
	<string>https://noteme-66721-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>